### Swift ###
# Xcode

## Specific files
PioneerScheduler/Info.plist
AppBlog.rtf
PioneerScheduler/Utils/Constants.swift

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# SPM
.build/

# Mac finder
.DS_Store
