### Swift ###
# Xcode

## Specific files
AppBlog.rtf

## Secrets
Config/Secrets.local.xcconfig

## User environment
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# SPM
.build/

# Mac finder
.DS_Store
